.hotel-panel {
    padding-top: 0;
    padding-bottom: 0;
}
.panel-image {
    padding: 0;
    margin: 0;
}
.panel-image h4 {
    margin-bottom: 2px;
}
.rate {
    margin-top: 30px;
}
.image {
    float: left;
    margin-right: 15px;
}
.good {
    color: green;
}
.stars span {
    font-size: 16px;
    color: #e9cd10;
    
    /* Some sort of border */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hotel_list-title {
    padding-bottom: 4px;
}