{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block body %}

<!-- Submit image form -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">Add Image</h3> </div>
    <div class="panel-body">
        <div class="bs-example" data-example-id="basic-forms"> 
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group"> 
                    <label for="name">Name</label> 
                    {{ form.name(class_="form-control") }}
                </div> 
                <div class="form-group"> 
                    <label for="hotel">Hotel</label> 
                    {{ form.hotel(class_="form-control")  }}
                </div> 
                 <div class="form-group"> 
                    <label for="cover_image">Cover Image</label> 
                    {{ form.cover_image(class_="form-control")  }}
                </div> 
                <div class="form-group"> 
                    <label for="exampleInputFile">File input</label> 
                    {{ form.file(class_="file") }}
                </div> 
            <button type="submit" class="btn btn-default">Submit</button> 
            </form> 
        </div>
    </div>
</div>

<!-- Display images --> 
{% for hotel in hotels %}
<b>{{ hotel.name }}</b>
<div class="row">
  <div class="col-sm-6 col-md-4">
   {% for image in hotel.images %}
    <div class="thumbnail">
      <img src="{{ image.url }}" alt="{{ image.name }}">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="{{ url_for('delete_image', image_id=image.id) }}" class="btn btn-primary" role="button">Delete Image</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

{% for image in images %}
<p><img src="{{ image.url }}" height="200"/></p>
{% endfor %}

<br/>
<p><a href="{{ url_for('hotel.index_view') }}">Admin</a></p>
{% endblock %}

